// desktop

@media (min-width: 30em) {
  main {
    section {
      &.how-it-works {
        div {
          &:nth-child(even) {
            p {
              margin: 0 0 0 $space;
              text-align: left;
            }
          }

          &:nth-child(odd) {
            flex-direction: row-reverse;

            p {
              margin: 0 $space 0 0;
              text-align: right;
            }
          }
        }
      }

      &.features {
        > div {
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          max-width: $max;

          div {
            align-items: center;
            display: flex;
            flex: 1 1 calc(50% - #{$space});

            &:nth-child(even) {
              margin-left: $space;
            }

            &:nth-child(n + 3) {
              margin-top: $space;
            }

            img {
              height: 4em;
            }

            p {
              text-align: left;
              margin: 0 0 0 $space;
            }
          }
        }
      }
    }
  }
}

// mobile

@media (max-width: 30em) {
  main {
    section {
      &.how-it-works {
        div {
          flex-direction: column;
        }
      }

      &.features {
        div {
          margin-top: $space;
        }
      }
    }
  }
}
